.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list--secondary {
  flex-direction: row;
  gap: 30px;
}

.product-list__item {
  min-height: 260px;
}

.product-list__item--secondary {
  /* width: calc(33.33% - 30px* 2 / 3); */
  gap: 30px;
}