.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list--secondary {
  /* display: flex; */
  flex-direction: row;
}

.product-list__item {
  min-height: 260px;
}